@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>登录-中台admin</title>
    @*<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/is4.css?v=@Guid.NewGuid()" />
</head>
<body class="is4">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/">
                        <span class="navbar-brand">
                            <img src="~/icon.png" class="icon-banner">
                            IdentityServer4
                        </span>
                    </a>
                </div>

                @if (!string.IsNullOrWhiteSpace(name))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Logout" asp-controller="Account">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>*@

    @*<div class="pc">
            <div class="header">
                <span>中台admin</span>
                <div class="list">
                    <a href="https://www.zhontai.net" target="_blank">文档中心</a>
                    <a href="https://www.admin.zhontai.net" target="_blank">首页</a>
                </div>
            </div>

            <div class="container body-content">
                @RenderBody()
            </div>
        </div>*@
    @RenderBody()

    <script src="~/lib/jquery/jquery.js"></script>
    @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
